{% extends "PresupuestoBundle::base.html.twig" %}

{% block titulo %}
Manos de Obras del Sistema
{% endblock titulo %}

{% block cuerpo %}
<div id="resultado"></div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Descripción</th>
            <th>U/medidad</th>
            <th>Tipo de Trabajo</th>
            <th>Precio</th>
            <th>Creada</th>
            <th>Actualizada</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th colspan="100">
                
            </th>
        </tr>
    </tfoot>
    <tbody>
        {% for item in manosdeobra %}
            <tr>
                <td>{{ item.descripcion|escape }}</td>
                <td>{{ item.medidas.medida|escape }}</td>
                <td>{{ item.tiposDeObras.nombre|escape }}</td>
                <td>{{ item.precio|number_format(2) }} Bs</td>
                <td>{{ item.fechaAt|date("d-m-Y") }}</td>
                <td>{{ item.fechaIn|date("d-m-Y") }}</td>
                <td class="link-imagen">
                    <a href="#"><img src="{{ asset("bundles/presupuesto/img/figuras/editar.png") }}" /></a>
                </td>
                <td class="link-imagen">
                    <a href="#"><img src="{{ asset("bundles/presupuesto/img/figuras/eliminar.png") }}" /></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="100">
                    No exisen Manos de Obra
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{{ knp_pagination_render(manosdeobra) }}
{% endblock cuerpo %}